*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
cfgaux/config.*
cfgaux/install-sh
cfgaux/*m4
cfgaux/depcomp
cfgaux/ltmain.sh
cfgaux/missing
config*
libtool
src/.deps
src/.libs
src/autoconf.h*
src/stamp-h1
src/*o
src/*la